{% extends "base.html" %}

{% block content %}
	<main>
		<div class="container-template">
			<div class="links">
				<p><a href="{% url "home" %}">Home</a> / Minha Info</p>
			</div>
		</div>

		<div class="container shadow container-perfil">
			<div class="mt-2 ms-4 mb-3">
				<span class="edit">Edite o suas Informações</span>
			</div>
			<form action="{% url "atualizar_info" %}"  method='POST' class="perfil">
				{% csrf_token %}

				<div class="d-flex flex-row">
					<div class='me-4 w-50'>
						<strong>Informações de pagamento</strong>
						<br/><br/>
						{{ form.as_p }}
					</div>

					<div class='w-50'>
						<strong>Informação de envio</strong>
						<br/><br/>
						{{ shipping_form.as_p }}
					</div>





				</div>
				<div class="btn-container d-flex justify-content-end align-items-center mt-3 me-5">
					<button type="submit" class="btn btn-bg-purple btn-lg ms-3 me-5">Atualizar</button>
				</div>
			</form>
		</div>


	</main>
{% endblock %}
