{% extends "base.html" %}
{% load static %}

{% block content %}
  <main>
   <div class="container d-flex mt-5 align-items-center">
    <img src="{% static 'img/img2.jpeg' %}" alt="" class="w-50 me-5">
    <form method='POST'  action="{% url "cadastrar" %}" class="d-flex flex-column ms-5 cadastrar">
      {% csrf_token %}
      <h1>Crie Sua Conta</h1>
      {{form.as_p }}
      <button type='submit' class="btn  btn-bg-purple mt-2 mb-2 ">Criar conta</button>
      <p>Ja tem uma conta? <a href="{% url "login" %}">Login</a></p>

    </form>
   </div>

  </main>
{% endblock %}
